@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
$Dark-cyan: hsl(158, 36%, 37%);
$Cream: hsl(30, 38%, 92%);
$Very-dark-blue: hsl(212, 21%, 14%);
$Dark-grayish-blue: hsl(228, 12%, 48%);
$White: hsl(0, 0%, 100%);
main {
  background-color: $Cream;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  section.card {
    background-color: $White;
    width: 630px;
    height: 472px;
    display: flex;
    border-radius: 0.5rem;
    picture {
      flex: 1 1 50%;
      img.cap-photo {
        width: 100%;
        border-radius: 0.5rem 0 0 0.5rem;
      }
    }
    article {
      flex: 1 1 50%;
      padding: 2rem;
      font-family: "Montserrat", sans-serif;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      color: $Dark-grayish-blue;
      h1 {
        font-size: 0.8rem;
        font-weight: 400;

        letter-spacing: 0.3rem;
        margin-bottom: -1rem;
      }
      h2 {
        font-size: 2.25rem;
        line-height: 2.25rem;
        font-weight: 700;
        font-family: "Fraunces", serif;
        color: $Very-dark-blue;
      }
      p {
        line-height: 1.5rem;
        font-weight: 550;
      }
      section.price {
        display: flex;
        align-items: center;
        p.on-sale {
          font-size: 2.25rem;
          font-family: "Fraunces", serif;
          color: $Dark-cyan;
          flex: 3 1 60%;
        }
        p.original {
          flex: 2 1 40%;
          font-size: 0.9rem;
          text-decoration: line-through;
          text-decoration-thickness: 0.1rem;
        }
      }
      button {
        border: none;
        border-radius: 0.5rem;
        background-color: $Dark-cyan;
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover {
          background-color: hsl(159, 38%, 13%);
          cursor: pointer;
        }
        span {
          font-size: 1rem;
          color: $White;
          font-weight: bold;
          line-height: 3.25rem;
        }
        img.icon-cart {
          height: 1.25rem;
          margin-right: 1rem;
        }
      }
    }
  }
}
@media screen and (max-width: 400px) {
  main {
    section.card {
      max-width: 350px;
      min-height: 610px;
      flex-direction: column;
      picture {
        flex: 0 1 230px;
        img.cap-photo {
          border-radius: 0.5rem 0.5rem 0 0;
        }
      }
      article {
        flex: 1 1 380px;
        justify-content: space-between;
        padding: 1rem 1.45rem;
        h1 {
          margin: 0;
        }
        h2 {
          font-size: 1.9rem;
          line-height: 1.9rem;
        }
        p {
          font-size: 0.9rem;
        }
        section.price {
          p.on-sale {
            font-size: 1.9rem;
            flex: 1 1 50%;
          }
          p.original {
            font-size: 0.8rem;
            flex: 1 1 50%;
          }
        }
        button {
          span {
            line-height: 2.65rem;
            font-size: 0.9rem;
          }
        }
      }
    }
  }
}
