@import url("https://fonts.googleapis.com/css2?family=Outfit&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  div.container {
    background-color: hsl(212, 45%, 89%);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    section.card {
      border-radius: 1rem;
      width: 330px;
      height: 550px;
      background-color: white;
      display: flex;
      flex-direction: column;
      align-items: center;
      box-shadow: 0 0.5rem 2rem rgba(black, 0.15);

      img {
        border-radius: 0.5rem;
        width: 90%;
        margin: 5%;
        flex: 0 0 auto;
      }
      section.text {
        margin: 1rem 1rem;
        font-family: "Outfit", sans-serif;
        text-align: center;
        flex: 1 1 45%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        p.title {
          font-weight: 700;
          font-size: 1.5rem;
          color: hsl(218, 44%, 22%);
          line-height: 1.75rem;
          margin-top: -1rem;
        }
        p.content {
          font-weight: 400;
          color: hsl(220, 15%, 55%);
        }
      }
    }
  }
}
